.banner-interno__titulo__icono 
  background-color: #12263F !important

.banner-interno__titulo__icono i 
    color: #fcfcfc !important

.img-450
    width: 450px !important
    margin: auto  
.img-380
    width: 390px !important
    margin: auto      
.img-300
    width: 300px !important
    margin: auto     
.img-200
    width: 200px !important
    margin: auto      
.img-160
    width: 160px !important
    margin: auto       

@media (min-width: 990px)
    
  .pr-5
    padding-left: 5rem    
  .fnd-3-2   
    background-size: contain
    position: relative
    display: flex
    flex-direction: row
    align-items: start  
    z-index: 1
    
    &::before
      content: ''
      display: block
      position: absolute
      background-position: right top
      top: 0rem
      bottom: 0rem
      left: 0rem
      right: -3rem
      z-index: -6
      background-image: url(../assets/tema1/fnd-1.svg)   
      background-repeat: no-repeat
  .fnd-4-   
    background-size: contain
    position: relative
    display: flex
    flex-direction: row
    align-items: start  
    z-index: 1
    
    &::before
      content: ''
      display: block
      position: absolute
      background-position: left top
      top: 7rem
      bottom: 0rem
      left: -3rem
      right: 0rem
      z-index: -6
      background-image: url(../assets/tema1/fnd-2.svg)   
      background-repeat: no-repeat
@media only screen and (min-width: 1199px) and (max-width: 1299px)  

  .bbr
    padding: 1rem  2rem 0rem 0rem !important   
  .pr-5
    padding: 0rem  0rem 0rem 2rem !important      
  .fnd-tras 
    position: relative
    display: flex
    flex-direction: row
    align-items: center   
    z-index: 1
    
    &::before
      content: ''
      display: block
      position: absolute
      top: 4.2rem
      bottom: 4.3rem
      left: 11rem
      right: 0%
      z-index: -6
      background-color: #ECFAFC !important     
  .fnd-tras-2
    position: relative
    display: flex
    flex-direction: row
    align-items: center   
    z-index: 1
    
    &::before
      content: ''
      display: block
      position: absolute
      top: 6.2rem
      bottom: 7.3rem
      left: -1rem
      right: 11rem
      z-index: -1
      background-color: #ECFAFC !important
  .fnd-tras-3
    position: relative
    display: flex
    flex-direction: row
    align-items: center   
    z-index: 1
    padding: 1rem 4rem
    
    &::before
      content: ''
      display: block
      position: absolute
      top: 2.2rem
      bottom: 3.3rem
      left: 0rem
      right: 16rem
      z-index: -1
      background-color: #ECFAFC !important   

@media (min-width: 1300px)   

  .fnd-tras 
    position: relative
    display: flex
    flex-direction: row
    align-items: center   
    z-index: 1
    &::before
      content: ''
      display: block
      position: absolute
      top: 4.2rem
      bottom: 4.3rem
      left: 11rem
      right: 0%
      z-index: -1
      background-color: #ECFAFC !important 
  .fnd-tras-2
    position: relative
    display: flex
    flex-direction: row
    align-items: center   
    z-index: 1
    
    &::before
      content: ''
      display: block
      position: absolute
      top: 6.2rem
      bottom: 7.3rem
      left: 0rem
      right: 11rem
      z-index: -1
      background-color: #ECFAFC !important      
  .fnd-tras-3
    position: relative
    display: flex
    flex-direction: row
    align-items: center   
    z-index: 1
    padding: 1rem 4rem
    
    &::before
      content: ''
      display: block
      position: absolute
      top: 4.2rem
      bottom: 5.3rem
      left: 0rem
      right: 13rem
      z-index: -1
      background-color: #ECFAFC !important  



.img-c
  justify-content: center!important
  display: block
  margin: 0 auto
.azul
  background-color: #B2EBF2 !important  
.gris:before
  background-color:#DAE0EC !important
.fnd-1
  background-color: #ECFAFC !important
.fnd-2
  background-color:#D8F5F8 !important      
    
.fnd-22    
  background-image: url(../assets/tema1/fnd-1.svg)
  background-repeat: no-repeat
  background-size: contain
  background-position: 90% 3rem  
  background-origin: content-box !important  
.fnd-3
  background-color:#B2EBF2 !important      
  background-image: url(../assets/tema1/fnd-2.svg)
  margin-inline: -3rem 
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom  
  border-radius: 20px  
  text-align: center !important
.fnd-3-
  background-color:#3E87C3 !important      
  background-image: url(../assets/tema1/fnd-2.svg)
  margin-inline: -3rem 
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom  
  border-radius: 20px  
  text-align: center !important 
.fnd-4  
  background-image: url(../assets/tema3/fnd-2.svg)
  margin-inline: 0 -3rem 
  background-repeat: no-repeat
  background-size: 30%
  background-position: top right  
.fnd-5  
  background-image: url(../assets/tema3/fnd-1.svg)
  margin-inline: 0 -3rem 
  background-repeat: no-repeat
  background-size: 30%
  background-position:  left    
  
.tarjeta--gris 
    background-color: #ECFAFC !important  
.linea-tiempo-d.color-primario .linea-tiempo-d__item .linea-tiempo-d__item__number 
    background-color: #F6F6F6 !important    
.pasos-a.color-secundario .pasos-a__circle div 
    color: #ffffff !important
.img-350
  width: 350px !important 
.img-250
  width: 250px !important 
.img-90
  width: 90px !important  
.img-70
  width: 70px !important      
.izq-
  text-align: left  !important
.degra
  background: linear-gradient(to left, #013783, #0059D6)  !important
.aaa
  color: #0059D6 !important  
.azz:before 
    background-color: #ECFAFC !important
.azz:before 
    background-color:#D8F5F8
.ii
  color: #1670EF !important
  margin-left: 2rem
.iii
  color: #1670EF !important
.iiii
  background-color: #FEB62B
  border-radius: 60px
  width: 80px
  height: 80px
  top: 25px
  transform: translateX(-0%)
  border: solid 10px #ffffff !important  
  border-bottom: 5px solid #AFAFAF !important  
.cc1
  background-color: #FEB62B
  border-radius: 60px
  width: 60px
  height: 60px
  top: 25px
  transform: translateX(-20%)

.cc3
  position: absolute
  left: 50%
  top: 50%
  color: #ffffff
  transform: translate(-50%,-50%)
.cc2
  background-color: #FEB62B
  border-radius: 60px
  width: 80px
  height: 80px
  top: 25px
  transform: translateX(-0%)
  border: solid 10px #ffffff !important        
.cc4
  background-color: #FEB62B
  border-radius: 10px
  width: 20px
  height: 20px
  transform: translateX(-20%) 
  padding: 5px
  margin: 5px
.l2
  border-bottom: solid 1px #AFAFAF !important   
.l22
  width: 20px
  height: 20px
  min-width: 20px
  border-radius: 50%
  z-index: 2
  position: relative
  background-color: #FEB62B
  color: #fff !important  